@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&display=swap');

*{
    padding: 0;
    margin: 0;
}


body {
    background-color:  #061b2e;
    color: #A1A6B4;
    height: 100vh;
    box-sizing: border-box;
}

.titulo-destaca {
    color: #D16014;
    font-family: "Pixelify Sans", serif;
    text-shadow: 2px 2px 5px red;
    font-size: 55px;

}

.presentacion{
    display: flex;
    align-items: center;
    margin: 10% 15%;
    justify-content: space-between
    ;
}

.presentacion-contenido{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}

.presentacion-contenido-titulo{
    font-size: 36px;
    font-family: "Krona One", serif;
    
}

.presentacion-contenido-texto{
    font-size: 24px;
    font-family: "Montserrat", serif;
}

.presentacion-enlaces{    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    
    
}

.presentacion-enlaces-subtitulo{
    font-family: "Krona One", sans-serif;
    font-size: 24px;
    font-weight: 400;

}


.links-buttom{
    width: 378px;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: "Montserrat", serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: #F6F6F6;
    border: 2px outset #D16014;
    display: flex;
    justify-content: center;
    gap: 10px ;

}

.links-buttom:hover {
    background-color: #ff6600;
}


.links-Funky{
    width: 378px;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: "Montserrat", serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: #F6F6F6;
    border: 2px outset #00CFC1;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.links-Funky:hover{
    background-color:#06b6aa ;
}

.logo{
    width:35px;
    height: auto;
    padding: auto;    
}


.img-developer{
    max-width: 100%;
    width: 700px;
    height: auto;
}
.footer{
    text-align: center;
    font-size: 15px;
    font-family: "Michroma", serif;
}
