@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&display=swap');

*{
    padding: 0;
    margin: 0;
}


body {
    background-color:  #061b2e;
    color: #A1A6B4;
    height: 100vh;
    box-sizing: border-box;
}

.titulo-destaca {
    color: #D16014;
    font-family: "Pixelify Sans", serif;
    text-shadow: 2px 2px 5px red;

}

.presentacion{
    display: flex;
    align-items: center;
    margin: 10% 15%;
    justify-content: space-between
    ;
}

.presentacion-contenido{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}

.presentacion-contenido-titulo{
    font-size: 36px;
    font-family: "Krona One", serif;
    
}

.presentacion-contenido-texto{
    font-size: 24px;
    font-family: "Montserrat", serif;
}

.presentacion-enlaces{    
    display: flex;
    justify-content: space-between;
}

.links{
    width: 280px;
    background-color: #D16014;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 16px;
    font-family: "Montserrat", serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.img-developer{
    max-width: 100%;
    width: 700px;
    height: auto;
}
